<div class="m-5">




    <h1 class="mb-5"> ABOUT COMPANY</h1>

    <p>Trong bối cảnh phát triển ngày càng lớn mạnh của Samsung và các Vendor, nhu cầu liên kết với các đối tác cung cấp
        dịch vụ của nhà máy Samsung là rất lớn và rất đa dạng. Trong khi đó, các công ty hiện tại chỉ cung cấp một mảng
        dịch vụ nhất định gây khó khăn cho công tác quản lý tổng thể của khách hàng. Vì vậy, chúng tôi, một đội ngũ lãnh
        đạo thuộc các công ty cung cấp các dịch vụ khác nhau đã liên minh lại và đồng sáng lập ra Ánh Dương Vina nhằm
        cung cấp tổng hợp các dịch vụ.

        Đến với Ánh Dương Vina, khách hàng sẽ tiết kiệm được thời gian và dễ dàng quản lý tài chính, chất lượng, tiêu
        chuẩn sản phẩm theo một hệ thống bởi chúng tôi cung cấp đầy đủ các dịch vụ như: (1) Cung ứng nhân lực, (2) Dịch
        vụ bảo vệ, (3) Dịch vụ nâng cẩu hàng hóa, (4) Dịch vụ vận tải, (5) Thi công lắp đặt hệ thống điện; (6) Thi công
        lắp đặt kết cấu, (7) Thiết kế, lắp đặt và cung cấp vật tư, thiết bị phòng sạch, (8) Cung cấp sắt, thép và các
        loại vật dụng xây dựng,…</p>

</div>