
<div class="container ">
<div class="header">

      <nav class="navbar-expand-lg navbar-light  navbar">


        <a class="navbar-brand" href="http://localhost:3000/load?page=1">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <form class="d-flex" action="http://localhost:3000/search" method="post">
            <input class="form-control me-2" type="text" name="name" placeholder="Search by last Name" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>

      </nav>
</div>
</div>