 <table class="table mt-4 ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
              <th scope="col">Avatar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-light row_1">
            </tr>
            <tr class="row_2">

            </tr>

          </tbody>
        </table>